/* шрифты */

@font-face {
    font-family: "cuprum";
    src: url(../fonts/cuprum.woff2) format("woff2"), 
    url(../fonts/cuprum.woff) format(woff);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "cuprum";
    src: url(../fonts/cuprumbold.woff2) format("woff2"), 
    url(../fonts/cuprumbold.woff) format(woff);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans";
    src: url(../fonts/ptsans.woff2) format("woff2")
    url(../fonts/ptsans.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans";
    src: url(../fonts/ptsansbold.woff2) format("woff2")
    url(../fonts/ptsansbold.woff) format("woff");
    font-weight: 700;
    font-style: normal;
}

/* цвета */

:root {
    --basic_black: #000000;
    --basic_white: #ffffff;
    --basic_dark_blue: #32425C;
    --basic_red: #ee3643;
    --extra_blue_first: #f1f5f7;
    --extra_blue_second: #f2f6f8;
    --extra_dark_blue: #293449;
    --extra_yellow: #ffd180;
    --extra_beige: #f9f5f0;
    --extra_grey: #a9a9a9;
    --catalog_color: #f7f3ec;
    --order_link: #63a63e;
    --footer_font: #f3f7f9;

    --special_yellow: #ffbf47;
    --special_blue: #3bbce3;
    --special_purple: #dc91d8;
    --special_green: #8ed78f;

    --active_logo: #ba2732;
    --hover_order: #5fbb2d;
    --active_user_nav: rgba(255, 255, 255, 0.5);
    --background_user_nav: #161d29;
    --login_active: #c5c5c5;
    --main_nav_active: #1d2739;
    --button_hover: #ca2c37;
    --border_pagination: #e5e5e5;


}

.page_body {
    min-width: 940px;
    margin: 0;
    padding: 0;
    font-family: "cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic_black);
    background-color: var(--basic_white);

    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

.page {
    height: 100%;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}



/* кнопка */

.button {
    font: inherit;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    color: var(--basic_white);
    vertical-align: middle;
    background-color: var(--basic_red);
    text-decoration: none;
    border: none;
}

.button:hover {
    background-color: var(--button_hover);
}

.button:active {
    background-color: var(--active_logo);
}
/* хедер */

.logo {
    background-color: var(--basic_red);
}

.header_logo {
    width: 220px;
    height: 47px;
}


.logo:active {
    background-color: var(--active_logo);
}

.main_header {
    margin-bottom: 59px;
    background-color: var(--extra_blue_first);
}

.header_flex {
    display: flex
}

.header_wrap {
    display: flex;
    justify-content: space-between;
    background-color: var(--extra_dark_blue);
}

.header_background {
    background-color: var(--extra_dark_blue);
}

.main_headline {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: var(--basic_red);
}

.user_nav_link {
    font-size: 18px;
    line-height: 24px;
    color: var(--basic_white);
    list-style: none;
}

.user_nav {
    display: flex;
    max-width: 520px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.user_nav_link:active {
    color: var(--active_user_nav);
}

.first_user_nav:active {
   background-color: var(--background_user_nav); 
}

.last_user_nav {
    background-color: var(--order_link);
}

.last_user_nav:hover {
    background-color: var(--hover_order);
}

.header_second_background {
    background-color: var(--extra_blue_first);
}

.test {
    display: flex;
    justify-content: space-between;
}

.header_tel {
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
    color: var(--basic_red);
}

.header_address {
    font-style: normal;
    color: var(--basic_dark_blue);
}

.login_nav {
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 21px;
    line-height: 21px;
    list-style: none;
}

.login_button {
    background-color: var(--basic_white);
}

.login_nav button:hover {
    color: var(--basic_red);
}

.login_nav button:active {
    color: var(--login_active);
}


.main_nav_link {
    font-size: 18px;
    line-height: 24px;
    color: var(--basic_white);
}

.main_nav {
    background-color: var(--basic_dark_blue);
}

.main_nav_list {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main_nav_item:hover {
    background-color: var(--extra_dark_blue);
}

.main_nav_item:active {
    background-color: var(--main_nav_active) ;
    
}


/* первая главная секция*/

.offers {
    margin-bottom: 59px;
}

.offers_list {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 123px 123px 123px;
    grid-gap: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    color: var(--basic_white);
}

.offers_headline {
    font-size: 18px;
    line-height: 24px;
}

.offers_link {
    font-size: 14px;
    line-height: 18px;
    color: var(--basic_white);
}

.offers_materials {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: var(--special_yellow);
}

.offers_instrument {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: var(--special_blue) ;
}

.offers_technics {
    grid-column: 3/4;
    grid-row: 1/2;
    background-color: var(--special_purple);
}

.offers_discount {
    background-color: var(--special_green);
}

.offers_delivery {
    background-color: var(--special_yellow);
}

.offers_perf {
    grid-column: 1/3;
    grid-row: 2/4;
    background-image: url("../img/perf.jpg");
    background-repeat: no-repeat;
}

.offers_drill {
    background-image: url("../img/drill.jpg");
    background-repeat: no-repeat;
}

.offers_slider_headline {
    text-transform: uppercase;
    font-size: 36px;
    line-height: 36px;
}

.offers_slider_p {
    font-size: 18px;
    line-height: 24px;
}

/* популярные товары */

.products {
    display: grid;
    margin-bottom: 70px;
}

.products_wrapper {
    display: flex;
    justify-content: space-between;
    background-color: var(--extra_beige);
}

.products_headline {
    font-size: 30px;
    line-height: 30px;
    color: var(--basic_dark_blue);
    text-transform: uppercase;
}


.products_list {
    display: grid;
    grid-template-columns: 220px 220px 220px 220px;
    grid-gap: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.products_list_item {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.product_name {
    font-size: 18px;
    line-height: 20px;
    color: var(--basic_black);
}

.product_old_price {
    font-size: 17px;
    line-height: 18px;
    color: var(--extra_grey);
}

.product_new_price {
    font-size: 17px;
    line-height: 18px;
    background-color: var(--basic_red);
    border: none;
}

/* производители */

.manufacturer {
    margin-bottom: 70px;
}

.manufacturer_wrapper {
    display: flex;
    justify-content: space-between;
    background-color: var(--extra_beige);
}

.manufacturer_headline {
    font-size: 30px;
    line-height: 30px;
    color: var(--basic_dark_blue);
    text-transform: uppercase;
}

.manufacturer_list {
    display: grid;
    grid-template-columns: 220px 220px 220px 220px;
    grid-template-rows: 145px 145px;
    grid-gap: 20px;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    list-style: none;
}

/* сервисы */

.services {
    padding-top: 64px;
    background-color: var(--extra_blue_first);
}

.services_main_headline {
    font-size: 30px;
    line-height: 30px;
}

.services_list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.services_link {
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
    color: var(--basic_dark_blue);
}

.services_headline {
    font-size: 30px;
    line-height: 30px;
    color: var(--basic_dark_blue);
    text-transform: uppercase;
}

.services_p {
    font-family: "PT sans";
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
}

/* о компании */

.company_wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 70px;
}

.about_company_headline {
    font-style: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.about_company_p {
    font-family: "PT sans";
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
}

.about_company_delivery {
    
    list-style: none;
}

/* контакты */

.contacts_headline{
    font-style: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.contacts_p {
    font-family: "PT sans";
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
}

/* футер */

.main_footer {
    background-color: var(--basic_dark_blue);
}

.footer_address {
    font-size: 18px;
    line-height: 24px;
    color: var(--footer_font);
}

.first_footer_list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.first_footer_link {
    font-size: 18px;
    line-height: 24px;
    color: var(--footer_font);
}

.second_footer_list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.second_footer_link {
    font-size: 18px;
    line-height: 24px;
    color: var(--extra_yellow);
}

.footer_wrapper {
    background-color: var(--extra_dark_blue);
}

.footer_social {
    background-color: var(--extra_dark_blue);
}

.footer_social_company {
    font-size: 16px;
    line-height: 18px;
    color: var(--basic_white);
}

.footer_social_list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer_social_link {
    color: var(--basic_white);
}

.footer_p {
    font-size: 16px;
    line-height: 18px;
    color: var(--basic_white);
}

.footer_link {
    color: var(--extra_yellow);
}

/* КАТАЛОГ */

.page_catalog {
    display: grid;
    grid-template-columns: 220px 1fr;
}

.breadcrumbs {
    grid-column: 1/-1;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.breadcrumbs_item {
    font-family: "PT sans";
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    text-transform: uppercase;
    color: var(--basic_black);
}

.breadcrumbs_link {
    color: var(--basic_black);
}

.catalog_main_headline {
    grid-column: 1/-1;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic_dark_blue);
    background-color: var(--extra_blue_first);
}

/*  фильтры */



.filters_headline {
    grid-column: 1/2;
    font-family: "PT sans";
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    text-transform: uppercase;
    background-color: var(--catalog_color);
}

.filters_legend {
    font-family: "PT sans";
    font-weight: 700;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
}

.filter_item {
    font-family: "PT sans";
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
}

.filter_first_list, .filter_second_list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.catalog_sort {
    grid-column: 2/-1;
    grid-row: 3/4;
}

.filters {
    grid-column: 1/2;
}

/* каталог */

.catalog {
    grid-column: 2/-1;
    margin-bottom: 59px;
}

.catalog_list {
    display: grid;
    grid-template-columns: 220px 220px 220px;
    grid-template-rows: 318px 318px 318px;
    grid-gap: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.pagination_list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.pagination_link {
    font-family: "PT sans";
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: var(--basic_black);
}

.pagination_item {
    width: 38px;
    height: 38px;
    text-align: center;
    border: 1px solid var(--border_pagination);
    border-radius: 2px;

}



/* пара слов */

.about_product {
    grid-column: 1/-1;
    background-color: var(--extra_blue_first);
}

.about_produt_headline {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.about_product_p {
    font-family: "PT sans";
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
}